<app-navbar></app-navbar>
<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="https://i.blogs.es/ceda9c/dalle/450_1000.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="https://i.blogs.es/ceda9c/dalle/450_1000.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="https://i.blogs.es/ceda9c/dalle/450_1000.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="https://i.blogs.es/ceda9c/dalle/450_1000.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="https://i.blogs.es/ceda9c/dalle/450_1000.jpg"></a>
</div>
    