<h1>Clientes</h1>
<div class="row">
  <div class="input-field col s2">
    <td><a class="waves-effect waves-light btn modal-trigger" data-target="modalCrearCliente" (click)="agregarCliente()"><i class="material-icons">add</i>Nuevo Cliente</a></td>
  </div>
  <div class="input-field col s1">
    <input id="last_name" [(ngModel)]="cliente.id" type="text" class="validate">
    <label for="last_name">Buscar Cliente(id)</label>
  </div>
  <div class="input-field col s3">
    <a class="waves-effect waves-light btn" (click)="buscarCliente(cliente.id)"><i class="material-icons left">search</i></a>
  </div>
</div>

<div class="row">
    <div class="row" *ngIf="clientes !== undefined">
      <div class="col s12">
        <div class="container">
          <table class="highlight responsive-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.correo }}</td>
                <td>
                  <a class="waves-effect waves-light btn modal-trigger" data-target="modalActualizarCliente" (click)="actualizarCliente(cliente.id)">
                    <i class="material-icons">edit</i>
                  </a>
                </td>
                <td>
                  <a class="waves-effect waves-light btn modal-trigger" data-target="modalEliminarCliente" (click)="eliminarCliente(cliente.id)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<!-- Empieza Modal modificar Cliente -->
<div id="modalActualizarCliente" class="modal">
    <div class="modal-content">
      <h4>Modificar Cliente</h4>
      <div class="row">
            <div class="input-field col s12">
                <label class="active">Nombre</label>
                <input [(ngModel)]="clienteM.nombre" type="text" class="validate">
            </div>
            <div class="input-field col s12">
                <label class="active">Direccion</label>
                <input [(ngModel)]="clienteM.direccion" type="text" class="validate">
            </div>
            <div class="input-field col s12">
                <label class="active">Telefono</label>
                <input [(ngModel)]="clienteM.telefono" type="text" class="validate">
            </div>
            <div class="input-field col s12">
                <label class="active">Correo</label>
                <input [(ngModel)]="clienteM.correo" type="text" class="validate">
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close btn-flat">Cancelar</a>
      <a class="btn" (click)="guardarActualizarCliente()">Modificar</a>
    </div>
</div>
<!-- Termina Modal -->
  
<!-- Empieza Modal Eliminar Cliente -->
<div id="modalEliminarCliente" class="modal">
    <div class="modal-content">
      <h4>¿Estas seguro de eliminar este cliente?</h4>
      <div class="row">
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close btn-flat">Cancelar</a>
      <a class="btn" (click)="guardarEliminarCliente()">Eliminar</a>
    </div>
</div>
<!-- Termina Modal -->
<!-- Empieza Modal Crear Cliente -->
<div id="modalAgregarCliente" class="modal">
    <div class="modal-content">
      <h4>Agregar Cliente</h4>
      <div class="row">
        <div class="input-field col s12">
            <label class="active">Nombre</label>
            <input [(ngModel)]="clienteA.nombre" type="text" class="validate">
        </div>
        <div class="input-field col s12">
            <label class="active">Direccion</label>
            <input [(ngModel)]="clienteA.direccion" type="text" class="validate">
        </div>
        <div class="input-field col s12">
            <label class="active">Telefono</label>
            <input [(ngModel)]="clienteA.telefono" type="text" class="validate">
        </div>
        <div class="input-field col s12">
            <label class="active">Correo</label>
            <input [(ngModel)]="clienteA.correo" type="text" class="validate">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close btn-flat">Cancelar</a>
      <a class="btn" (click)="guardarAgregarCliente()">Agregar</a>
    </div>
</div>
<!-- Termina Modal -->
  