<div class="carousel">
    <a class="carousel-item" ><img src="./../../../assets/images/img1.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img2.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img3.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img4.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img5.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img6.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img7.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img8.jpeg"></a>
    <a class="carousel-item" ><img src="./../../../assets/images/img9.jpeg"></a>
</div>