<h1>CARRITOS DE COMPRAS</h1>
<div class="row center-align">
  <div class="input-field col s2">
    <td><a class="waves-effect waves-light btn modal-trigger" data-target="modalCrearCarrito" (click)="crearCarrito()"><i class="material-icons">add</i>Nuevo Carrito</a></td>
  </div>
  <div class="input-field col s2">
    <input id="last_name" [(ngModel)]="carrito.id" type="text" class="validate">
    <label for="last_name">Buscar Carrito(id)</label>
  </div>
  <div class="input-field col s0">
    <div class="buttonB">
      <a class="waves-effect waves-light btn" (click)="buscarCarrito()"><i class="material-icons left">search</i></a>
    </div>
  </div>
  <div class="input-field col s3 offset-s1">
    <a class="waves-effect waves-light btn modal-trigger" data-target="modalListarProductos" (click)="listarProductos()">Listar Productos de un Carrito
      <i class="material-icons">list</i>
    </a>
  </div>
</div>
<div class="row">
    <div class="row" *ngIf="carritos !== undefined">
      <div class="col s12">
        <div class="container">
          <table class="highlight responsive-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Id Usuario</th>
                <th>Id Cliente</th>
                <th>Estado</th>
                <th>Añadir Productos al Carrito</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carrito of carritos">
                <td>{{ carrito.id }}</td>
                <td>{{ carrito.idUsuario }}</td>
                <td>{{ carrito.idCliente }}</td>
                <td>{{ carrito.estado    }}</td>
                <td>
                  <div style="text-align: center;">
                    <a class="waves-effect waves-light btn modal-trigger"  data-target="modalAñadirProducto" (click)="anadirProductosCarrito()">
                      <i class="material-icons">add</i>
                    </a>
                  </div>
                </td>
                <td>
                  <div style="text-align: center;">
                    <a class="waves-effect waves-light btn modal-trigger" data-target="modalEliminarCliente">
                      <i class="material-icons">delete</i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


<!-- Empieza crear carritos -->
<div id="modalCrearCarrito" class="modal">
  <div class="modal-content">
    <h4>Nuevo Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">Id usuario</label>
              <input [(ngModel)]="carritoNuevo.id" type="text" class="validate">
          </div>
          <div class="input-field col s12">
              <label class="active">Id cliente</label>
              <input [(ngModel)]="carritoNuevo.idCliente" type="text" class="validate">
          </div>
          <div class="input-field col s12">
            <input id="Fecha" [(ngModel)]="carritoNuevo.fechaLimite" type="date" class="validate">
            <label class="active" for="Fecha">Fecha Limite de Pago</label>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarCrearCarrito()">Añadir</a>
  </div>
</div>
<!-- Termina Modal -->

<!-- Empieza añadir productos al carrito -->
<div id="modalAñadirProducto" class="modal">
  <div class="modal-content">
    <h4>Añadir Producto al Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">Id Carrito</label>
              <input [(ngModel)]="addProduct.idCarrito" type="text" class="validate">
          </div>
          <div class="input-field col s12">
              <label class="active">Id Producto</label>
              <input [(ngModel)]="addProduct.idProducto" type="text" class="validate">
          </div>
          <div class="input-field col s12">
            <label class="active">Cantidad</label>
            <input [(ngModel)]="addProduct.cantidad" type="text" class="validate">
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarAnadirProductos()">Añadir Producto</a>
  </div>
</div>
<!-- Termina Modal -->

<!-- Empieza listar productos de un  carrito -->
<div id="modalListarProductos" class="modal">
  <div class="modal-content">
    <h4>Listar Productos de un Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">Id Carrito</label>
              <input [(ngModel)]="carrito.id" type="text" class="validate">
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarListarProductos()">Listar</a>
  </div>
</div>
<!-- Termina Modal -->