<h1>CARRITOS DE COMPRAS</h1>
<div class="row center-align">
  <div class="input-field col s2">
    <td><a class="waves-effect waves-light btn modal-trigger" data-target="modalCrearCarrito" (click)="crearCarrito()"><i class="material-icons">add</i>Nuevo Carrito</a></td>
  </div>
  <div class="input-field col s1">
    <input id="last_name" [(ngModel)]="carrito.id" type="text" class="validate">
    <label class="active">Buscar Carrito(id)</label>
  </div>
  <div class="input-field col s0">
    <div class="buttonB">
      <a class="waves-effect waves-light btn" (click)="buscarCarrito()"><i class="material-icons left">search</i></a>
    </div>
  </div>
</div>
<div class="row">
    <div class="row" *ngIf="carritos !== undefined">
      <div class="col s12">
        <div class="container">
          <table class="highlight responsive-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Cliente</th>
                <th>Fecha Limite</th>
                <th>Estado</th>
                <th>Añadir Productos al Carrito</th>
                <th>Cancelar Carrito</th>
                <th>Pagar Carrito</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carrito of carritos">
                <td>{{ carrito.id }}</td>
                <td>{{ carrito.Usuario }}</td>
                <td>{{ carrito.Cliente}}</td>
                <td>{{ carrito.fechaLimite}}</td>
                <td>{{ carrito.estado    }}</td>
                <td>
                  <div style="text-align: center;">
                    <a class="waves-effect waves-light btn modal-trigger"  data-target="modalAñadirProducto" (click)="anadirProductosCarrito(carrito.id)">
                      <i class="material-icons">add</i>
                    </a>
                  </div>
                </td>
                <td>
                  <div style="text-align: center;">
                    <a class="waves-effect waves-light btn modal-trigger" data-target="modalCancelarCarrito" (click)="cancelarCarrito(carrito.id)">
                      <i class="material-icons">remove</i>
                    </a>
                  </div>
                </td>
                <td>
                  <div style="text-align: center;">
                    <a class="waves-effect waves-light btn modal-trigger" data-target="modalPagarCarrito" (click)="pagarCarrito(carrito.id)">
                      <i class="material-icons">check</i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


<!-- Empieza crear carritos -->
<div id="modalCrearCarrito" class="modal">
  <div class="modal-content">
    <h4>Nuevo Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">usuario</label>
              <input [(ngModel)]="carritoNuevo.Usuario" type="text" class="validate">
          </div>
          <div class="input-field col s12">
              <label class="active">cliente</label>
              <input [(ngModel)]="carritoNuevo.Cliente" type="text" class="validate">
          </div>
          <div class="input-field col s12">
            <input id="Fecha" [(ngModel)]="carritoNuevo.fechaLimite" type="date" class="validate">
            <label class="active" for="Fecha">Fecha Limite de Pago</label>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarCrearCarrito()">Añadir</a>
  </div>
</div>
<!-- Termina Modal -->

<!-- Empieza añadir productos al carrito -->
<div id="modalAñadirProducto" class="modal">
  <div class="modal-content">
    <h4>Añadir Producto al Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">Id Carrito</label>
              <input [(ngModel)]="addProduct.idCarrito" type="text" class="validate">
          </div>
          <div class="input-field col s12">
              <label class="active">Producto</label>
              <input [(ngModel)]="addProduct.Producto" type="text" class="validate">
          </div>
          <div class="input-field col s12">
            <label class="active">Cantidad</label>
            <input [(ngModel)]="addProduct.cantidad" type="text" class="validate">
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarAnadirProductos()">Añadir Producto</a>
  </div>
</div>
<!-- Termina Modal -->

<!-- Empieza listar productos de un  carrito -->
<div id="modalListarProductos" class="modal">
  <div class="modal-content">
    <h4>Listar Productos de un Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">Id Carrito</label>
              <input [(ngModel)]="carrito.id" type="text" class="validate">
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarListarProductos()">Listar</a>
  </div>
</div>
<!-- Termina Modal -->

<!-- Empieza Modal Cancelar Carrito -->
<div id="modalCancelarCarrito" class="modal">
  <div class="modal-content">
    <h4>¿Estás seguro de cancelar este carrito?</h4>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Atras</a>
    <a class="btn" (click)="guardarCancelarCarrito()">Cancelar Carrito</a>
  </div>
</div>  
<!-- Termina Modal -->

<!-- Empieza Pagar un  carrito -->
<div id="modalPagarCarrito" class="modal">
  <div class="modal-content">
    <h4>Pagar Carrito</h4>
    <div class="row">
          <div class="input-field col s12">
              <label class="active">Id Carrito</label>
              <input [(ngModel)]="pagarC.idCarrito" type="text" class="validate">
          </div>
          <div class="input-field col s12">
            <label class="active">Descuento</label>
            <input [(ngModel)]="pagarC.descuento" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <input id="Fecha" [(ngModel)]="pagarC.fecha" type="date" class="validate">
          <label class="active" for="Fecha">Fecha de Pago</label>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarPagarCarrito()">Pagar Carrito</a>
  </div>
</div>
<!-- Termina Modal -->

