<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/home/productosC">Productos</a></li>
        <li><a href="/home/carritos">Carritos</a></li>
        <li><a href="/home/ventas">Ventas</a></li>
        <li> <!-- Dropdown Trigger -->
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Opciones</a>
        </li>        
      </ul>
    </div>
</nav>

  <!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
</ul>