/* Agrega estos estilos a tu archivo de estilos CSS (por ejemplo, styles.css) */

  h1{
    text-align: center;
  }
.container {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;  /* Centra el contenedor horizontalmente */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Espaciado superior para separar del contenido superior */
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .buttonB {
   height: 30px;
    width: 100px;
  }
  