<h1>Productos</h1>
<div class="row center-align">
  <div class="input-field col s2">
    <td><a class="waves-effect waves-light btn modal-trigger" data-target="modalCrearProducto" (click)="crearProducto()"><i class="material-icons">add</i>Nuevo Producto</a></td>
  </div>
  <div class="input-field col s1">
    <input id="last_name" [(ngModel)]="producto.id" type="text" class="validate">
    <label class="active">Buscar Productos(id)</label>
  </div>
  <div class="input-field col s3">
    <div class="buttonB">
      <a class="waves-effect waves-light btn" (click)="buscarProducto(producto.id)"><i class="material-icons left">search</i></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="row" *ngIf="productos !== undefined">
    <div class="col s12">
      <div class="container">
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Modelo</th>
              <th>Talla</th>
              <th>Color</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.id }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.modelo }}</td>
              <td>{{ producto.Talla}}</td>
              <td>{{producto.color}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.cantidad}}</td>
              <td>
                <a class="waves-effect waves-light btn modal-trigger" data-target="modalModificarProducto" (click)="actualizarProducto(producto.id)">
                  <i class="material-icons">edit</i>
                </a>
              </td>
              <td>
                <a class="waves-effect waves-light btn modal-trigger" data-target="modalEliminarProducto" (click)="eliminarProducto(producto.id)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Empieza Modal modificar Producto -->
<div id="modalModificarProducto" class="modal">
  <div class="modal-content">
    <h4>Modificar Producto</h4>
    <div class="row">
      <div class="input-field col s12">
        <label class="active">Nombre</label>
        <input [(ngModel)]="productoM.nombre" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Modelo</label>
        <input [(ngModel)]="productoM.modelo" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Talla</label>
        <div class="input-field col s12">
          <select [(ngModel)]='productoM.Talla' class="browser-default">
            <option *ngFor="let talla of tallas" [value]="talla.talla">
              {{talla.talla}}
            </option>
          </select>
      </div>
      </div>
      <div class="input-field col s12">
        <label class="active">Color</label>
        <input [(ngModel)]="productoM.color" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <label class="active">Precio</label>
        <input [(ngModel)]="productoM.precio" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <label class="active">Cantidad</label>
        <input [(ngModel)]="productoM.cantidad" type="text" class="validate">
      </div>
    </div>
    <div class="row">
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarActualizarProducto()">Modificar</a>
  </div>
</div>
<!-- Termina Modal -->
<!-- Empieza Modal Eliminar Producto -->
<div id="modalEliminarProducto" class="modal">
  <div class="modal-content">
    <h4>¿Estás seguro de eliminar este producto?</h4>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarEliminarProducto()">Eliminar</a>
  </div>
</div>
<!-- Termina Modal -->
<!-- Empieza Modal crear Producto -->
<div id="modalCrearProducto" class="modal">
  <div class="modal-content">
    <h4>Nuevo Producto</h4>
    <div class="row">
      <div class="input-field col s12">
        <label class="active">Nombre</label>
        <input [(ngModel)]="productoC.nombre" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Modelo</label>
        <input [(ngModel)]="productoC.modelo" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Talla</label>
        <select [(ngModel)]='productoC.Talla' class="browser-default">
          <option *ngFor="let talla of tallas" [value]="talla.talla">
            {{talla.talla}}
          </option>
        </select>
      </div>
      <div class="input-field col s12">
        <label class="active">Color</label>
        <input [(ngModel)]="productoC.color" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <label class="active">Precio</label>
        <input [(ngModel)]="productoC.precio" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <label class="active">Cantidad</label>
        <input [(ngModel)]="productoC.cantidad" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <!-- Puedes agregar contenido adicional aquí si es necesario -->
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarCrearProducto()">Guardar</a>
  </div>
</div>
<!-- Termina Modal -->
