<h1>Usuarios</h1>
<div class="row">
  <div class="input-field col s2">
    <td>
      <a class="waves-effect waves-light btn modal-trigger" data-target="modalCrearUsuario" (click)="crearUsuario()">
        <i class="material-icons">add</i>Nuevo usuario
      </a>
    </td>
  </div>
  <div class="input-field col s1">
    <input id="last_name" [(ngModel)]="usuario.id" type="text" class="validate">
    <label class="active">Buscar Usuario(id)</label>
  </div>
  <div class="input-field col s3">
    <a class="waves-effect waves-light btn" (click)="buscarUsuario(usuario.id)">
      <i class="material-icons left">search</i>
    </a>
  </div>
</div>

<div class="row">
  <div class="row" *ngIf="usuarios !== undefined">
    <div class="col s12">
      <div class="container">
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>Telefono</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.Rol }}</td>
              <td>{{ usuario.usuario }}</td>
              <td>{{ usuario.contrasena }}</td>
              <td>{{ usuario.telefono }}</td>
              <td>
                <a class="waves-effect waves-light btn modal-trigger" data-target="modalModificarUsuario" (click)="actualizarUsuario(usuario.id)">
                  <i class="material-icons">edit</i>
                </a>
              </td>
              <td>
                <a class="waves-effect waves-light btn modal-trigger" data-target="modalEliminarUsuario" (click)="eliminarUsuario(usuario.id)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Empieza Modal modificar Usuario -->
<div id="modalModificarUsuario" class="modal">
  <div class="modal-content">
    <h4>Modificar Usuario</h4>
    <div class="row">
      <div class="input-field col s12">
        <label class="active">Nombre </label>
        <input [(ngModel)]="usuarioM.nombre" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Rol </label>
        <select [(ngModel)]='usuarioM.Rol' class="browser-default">
          <option *ngFor="let rol of roles" [value]="rol.nombreRol">
            {{rol.nombreRol}}
          </option>
        </select>
      </div>
      <div class="input-field col s12">
        <label class="active">Usuario </label>
        <input [(ngModel)]="usuarioM.usuario" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <label class="active">Contraseña </label>
        <input [(ngModel)]="usuarioM.contrasena" type="text" class="validate">
      </div>
      <div class="input-field col s6">
        <label class="active">Telefono </label>
        <input [(ngModel)]="usuarioM.telefono" type="text" class="validate">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarActualizarUsuario()">Modificar</a>
  </div>
</div>
<!-- Termina Modal -->

<!-- Empieza Modal Eliminar Usuario -->
<div id="modalEliminarUsuario" class="modal">
  <div class="modal-content">
    <h4>¿Estás seguro de eliminar este usuario?</h4>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarEliminarUsuario()">Eliminar</a>
  </div>
</div>  
<!-- Termina Modal -->
<!-- Empieza Modal Crear Usuario -->
<div id="modalCrearUsuario" class="modal">
  <div class="modal-content">
    <h4>Usuario Nuevo</h4>
    <div class="row">
      <div class="input-field col s12">
        <label class="active">Nombre </label>
        <input [(ngModel)]="usuarioC.nombre" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Rol </label>
        <select [(ngModel)]='usuarioC.Rol' class="browser-default">
          <option *ngFor="let rol of roles" [value]="rol.nombreRol">
            {{rol.nombreRol}}
          </option>
        </select>
      </div>
      <div class="input-field col s12">
        <label class="active">Usuario </label>
        <input [(ngModel)]="usuarioC.usuario" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Contraseña </label>
        <input [(ngModel)]="usuarioC.contrasena" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Telefono </label>
        <input [(ngModel)]="usuarioC.telefono" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <!-- Puedes agregar contenido adicional si es necesario -->
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarCrearUsuario()">Crear</a>
  </div>
</div>    
<!-- Termina Modal -->
