<h1>Productos</h1>
<div class="row center-align">
  <div class="input-field col s1 offset-s5">
    <input id="last_name" [(ngModel)]="producto.id" type="text" class="validate">
    <label class="active" for="last_name">Buscar Productos(id)</label>
  </div>
  <div class="input-field col s1">
    <div class="buttonB">
      <a class="waves-effect waves-light btn" (click)="buscarProducto(producto.id)"><i class="material-icons left">search</i></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="row" *ngIf="productos !== undefined">
    <div class="col s12">
      <div class="container">
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Modelo</th>
              <th>Talla</th>
              <th>Color</th>
              <th>Precio</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.id }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.modelo }}</td>
              <td>{{ producto.Talla}}</td>
              <td>{{producto.color}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>