<div class="row">
  <div class="col s5 m2">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/images/imgVestido.webp" class="imagen-vestido">
        <span class="card-title">Vestido Exclusivo</span>
      </div>
      <div class="card-content">
        <p>
          ¡Hacer a todos boquiabiertos es muy fácil cuando tienes un look romántico como el vestido largo negro sin tirantes y escalonado Seriously Sensational de Lulus! La ligera gasa tejida plisada da forma a este coqueto vestido que presenta un corpiño sin tirantes (con tiras antideslizantes ocultas) y un escote en forma de corazón.</p>
      </div>
      <div style="text-align: right;">
        <a class="waves-effect waves-light btn modal-trigger" data-target="modalAñadirProductos" (click)="agregarProductoCarrito()">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Empieza Modal crear Producto -->
<div id="modalAñadirProductos" class="modal">
  <div class="modal-content">
    <h4>Agregar Producto al Carrito</h4>
    <div class="row">
      <div class="input-field col s12">
        <label class="active">Id del Carrito</label>
        <input [(ngModel)]="addProduct.idCarrito" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Id Producto</label>
        <input [(ngModel)]="addProduct.Producto" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <label class="active">Cantidad</label>
        <input [(ngModel)]="addProduct.cantidad" type="text" class="validate">
      </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close btn-flat">Cancelar</a>
    <a class="btn" (click)="guardarAgregarProductoCarrito()">Guardar</a>
  </div>
</div>
<!-- Termina Modal -->


