/* Estilos para el cuerpo del login */
.bodyLogin {
    background-color: #f5f5f5; /* Color de fondo */
    height: 100vh; /* 100% del alto de la ventana */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para el contenedor principal */
  .container {
    width: 100%;
  }
  
  /* Estilos para el formulario de login */
  .loginDiv {
    background-color: #ffffff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Estilos para el título del login */
  .loginTitulo h5 {
    color: #333333; /* Color del texto */
  }
  
  /* Estilos para los inputs */
  .customInput {
    margin-bottom: 20px; /* Espacio entre los inputs */
  }
  
  /* Estilos para el botón de login */
  .btnLogin {
    background-color: #2196F3; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
  }
  
  /* Estilos para el enlace de 'Olvidé mi contraseña' */
  .divOlvide a {
    color: #666666; /* Color del enlace */
  }
  